//- include ../mixin/common
//-variable
block var
- var title = (typeof(title) === 'undefined' || title == "") ? "Shop mini" : title;
- var scriptpage;
- var subPage = (typeof(subPage) === 'undefined' || subPage == "") ? "" : subPage;
- var noheader = (typeof(noheader) === 'undefined' || noheader == "") ? "" : noheader;
doctype html
html(lang='en',class="no-js")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='format-detection', content='telephone=no')
    <!--[if IE]>
    <link rel="shortcut icon" href="path/to/favicon.ico"/>
    <![endif]-->
    //- link(href='images/apple-touch-icon-precomposed.png',rel='apple-touch-icon-precomposed')
    //- link(href='images/favicon.png',rel='icon')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    title=title
    link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='css/style.css', rel='stylesheet', media='screen')
    link(href='css/fonts-face.css', rel='stylesheet', media='screen')
  body
    .wrapper
        //- include header
        include ../blocks/header
        //- if(!noheader)
        //-     include ../blocks/header
        #main
            block content
        //- //- include footer
        include ../blocks/footer


    //- Include all compiled plugins (below), or include individual files as needed
    script(src="js/libs/jquery.min.js")
    script(src="js/libs/bootstrap.min.js")
    script(src='js/libs/plugins.min.js')
    script(src='js/main.js')
    //- if(scriptpage!== undefined && scriptpage !== "" && scriptpage!==null)
    //-   script(src='js/' + scriptpage +'.js')
