nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') WebSiteName
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Home
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            | Page 1 
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Page 1-1
            li
              a(href='#') Page 1-2
            li
              a(href='#') Page 1-3
        li
          a(href='#') Page 2
        li
          a(href='#') Page 3
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#')
            span.glyphicon.glyphicon-user
            |  Sign Up
        li
          a(href='#')
            span.glyphicon.glyphicon-log-in
            |  Login
