.visible-mobile {display:none}
.visible-tablet {display:none}
.visible-desktop {display:none}


// Mobile first /

@media screen and (min-width:768px) {
  //--- code
}

// Only for Tablet : Screen from 768px /
@media screen and (min-width:768px) and (max-width: 1024px) {
  //--- code
}

@media only screen and (min-width: 992px){
  //--- code
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  //--- code
}

// Desktop
@media only screen and (min-width: 1025px) {
  //--- code
}